<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <canvas id="myChart" width="100%" height="100%"></canvas>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Pain</ion-label>
          <ion-select [(ngModel)]="selectedPain" interface="action-sheet">
            <ion-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10, 'нет']">{{i}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Stress</ion-label>
          <ion-select [(ngModel)]="selectedStress" interface="action-sheet">
            <ion-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10, 'нет']">{{i}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="D MMMM YYYY" pickerFormat="D MMMM YYYY" [(ngModel)]="selectedDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
          <ion-input type="number" [(ngModel)]="selectedDose" placeholder="Medication, mg"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button block (click)="add()">add note</button>
</ion-content>
