<ion-content padding style="height: 100%;">
  <ion-item>

    <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
    <ion-datetime displayFormat="D MMMM YYYY HH:mm" pickerFormat="D MMMM YYYY HH:mm" [(ngModel)]="selectedDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon name="pulse"></ion-icon>  Pain</ion-label>
    <!--<button ion-button clear item-content (click)="addNote()">-->
    <!--<ion-icon name="create"></ion-icon>-->
    <!--</button>-->
    <!--<button ion-button clear item-content (click)="addNote()">-->
    <!--<ion-icon name="camera"></ion-icon>-->
    <!--</button>-->
    <ion-select [(ngModel)]="selectedPain" interface="action-sheet">
      <ion-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10, 'нет']">{{i}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon name="flash"></ion-icon> Stress</ion-label>
    <ion-select [(ngModel)]="selectedStress" interface="action-sheet">
      <ion-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10, 'нет']">{{i}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon name="happy"></ion-icon> Mood</ion-label>
    <ion-select [(ngModel)]="selectedMood" interface="action-sheet">
      <ion-option *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10, 'нет']">{{i}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Medication, mg</ion-label>
    <ion-input type="number" [(ngModel)]="selectedDose"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <button ion-button block large (click)="add()">add note</button>
</ion-footer>
