<ion-header>

  <ion-navbar>
    <ion-title>Values</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let value of values">
      <ion-item [style.color]="value.color" (click)="edit(value)">
        <b>{{value.icon}} {{ value.name }}</b>
        <span *ngIf="value.type === ValueType.intensity">[{{ value.range.min }} ... {{value.range.max}}]</span>
        <span *ngIf="value.type === ValueType.event || value.type === ValueType.interval">[{{value.type}}]</span>
      </ion-item>
      <ion-item-options side="left">
        <button icon-only color="secondary" ion-button (click)="edit(value)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button icon-only [color]="'danger'" ion-button (click)="remove(value)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<div *ngIf="values.length === 1" class="text-md-light hint swipe-hint">
  <b>Swipe to</b>
  <br>
  <b>edit </b><ion-icon name="arrow-forward"></ion-icon>
  <br>
  <ion-icon name="arrow-back"></ion-icon><b> delete</b>
</div>

<div *ngIf="values.length === 0" class="text-md-light hint add-hint">
  <b>Tap <ion-icon name="add-circle"></ion-icon> to add new value</b>
</div>

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-button (click)="addValue()">
        Value
      </button>
      <button disabled ion-button (click)="addEventOrInterval()">
        Event/Interval
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
